.idea
.DS_Store
.nyc_output

/node_modules
/application
/build-ui
/builderConfig.json
/package-lock.json
/tsconfig.json
/tslib.js
/tslint.json
/wasaby-cli_artifacts
/**/tsconfig.json
/wasabyGlobalTypings.d.ts
/tailwind.config.js
/.eslintrc.js
/.stylelintrc.js
.stylelintignore
/.prettierrc.js
.prettierignore